.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table, th, td {
  border: 0px solid black;
  border-collapse: collapse;
}

.th, td {
  padding: 20px;
}

.container {
  display: flex; 
  align-items: left; 
  justify-content: center;
}

.red-card {
  height: 100px;
  width: 150px;
  border-radius: 15px;
  font-size: 16px;
  background-color: #960200;
  color: white;
  padding: 10px;
}

.yellow-card {
  height: 100px;
  width: 150px;
  border-radius: 15px;
  font-size: 16px;
  background-color: #FFD046;
  color: white;
  padding: 10px;
}

.green-card {
  height: 100px;
  width: 150px;
  border-radius: 15px;
  font-size: 16px;
  background-color: #7FC29B;
  color: white;
  padding: 10px;
}

.blue-card {
  height: 100px;
  width: 500px;
  border-radius: 15px;
  font-size: 20px;
  background-color: #275DAD;
  color: white;
  padding: 10px;
}

.purple-card {
  height: 100px;
  width: 500px;
  border-radius: 15px;
  font-size: 20px;
  background-color: #FFFFFF;
  color: black;
  padding: 10px;
}